In [213]:
import numpy as np
import csv
import pandas as pd
import matplotlib.pyplot as plt
from translate import Translator

In [214]:
coursera=  pd.read_csv("data/Coursera.csv", encoding="utf-8")
edx= pd.read_csv("data/EdX.csv", encoding="utf-8")
udacity= pd.read_csv("data/Udacity.csv", encoding="utf-8")

coursera['University'] = coursera['University'].apply(lambda x: 'É' + x[1:] if x.startswith('�') else 'é' + x[1:] if '�' in x else x)
coursera['University'] = coursera['University'].replace('École Polytechnique F�d�rale de Lausanne', 'École Polytechnique Fédérale de Lausanne')
# Add a new column named "Website" with the value "Coursera" in each row
coursera.insert(0, "Website", "Coursera")
edx.insert(0, "Website", "EdX")
udacity.insert(0, "Website", "Udacity")

coursera.head(5)

,Website,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Coursera,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Coursera,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Coursera,Silicon Thin Film Solar Cells,École Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Coursera,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Coursera,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [215]:
# Rename the "Course Type" column to "Type of Course"
coursera = coursera.rename(columns={"Course URL": "Link"})
coursera = coursera.rename(columns={"University": "Institution"})
coursera = coursera.rename(columns={"Course Name": "Name"})
coursera['Course Description'] = coursera['Course Description'] + coursera['Skills']
# Keeping important columns for recommendation
coursera = coursera[['Website','Name','Institution', 'Difficulty Level', 'Course Rating','Link','Course Description']]
coursera.head(5)

,Website,Name,Institution,Difficulty Level,Course Rating,Link,Course Description
0,Coursera,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...
1,Coursera,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be..."
2,Coursera,Silicon Thin Film Solar Cells,École Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...
3,Coursera,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more..."
4,Coursera,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...

In [216]:
coursera.shape

(3522, 7)

In [217]:
edx = edx.rename(columns={"University": "Institution"})
edx['Course Description'] = edx['Course Description'] + edx['About']
# Keeping important columns for recommendation
edx = edx[['Website','Name','Institution','Difficulty Level','Link','Course Description']]
edx.head(5)

,Website,Name,Institution,Difficulty Level,Link,Course Description
0,EdX,How to Learn Online,edX,Beginner,https://www.edx.org/course/how-to-learn-online,"Designed for those who are new to elearning, t..."
1,EdX,Programming for Everybody (Getting Started wit...,The University of Michigan,Beginner,https://www.edx.org/course/programming-for-eve...,This course aims to teach everyone the basics ...
2,EdX,CS50's Introduction to Computer Science,Harvard University,Beginner,https://www.edx.org/course/cs50s-introduction-...,"This is CS50x , Harvard University's introduct..."
3,EdX,The Analytics Edge,Massachusetts Institute of Technology,Intermediate,https://www.edx.org/course/the-analytics-edge,"In the last decade, the amount of data availab..."
4,EdX,Marketing Analytics: Marketing Measurement Str...,"University of California, Berkeley",Beginner,https://www.edx.org/course/marketing-analytics...,Begin your journey in a new career in marketin...

In [218]:
edx.shape

(720, 6)

In [219]:
udacity = udacity.rename(columns={"School": "Institution"})
udacity = udacity.rename(columns={"Rating": "Course Rating"})
udacity = udacity.rename(columns={"About": "Course Description"})
udacity.head(5)

,Website,Name,Institution,Difficulty Level,Course Rating,Link,Course Description
0,Udacity,Data Engineer,School of Data Science,Intermediate,4.6,https://www.udacity.com//course/data-engineer-...,Data Engineering is the foundation for the new...
1,Udacity,Data Scientist,School of Data Science,Advanced,4.7,https://www.udacity.com//course/data-scientist...,"Build effective machine learning models, run d..."
2,Udacity,Data Analyst,School of Data Science,Intermediate,4.6,https://www.udacity.com//course/data-analyst-n...,"Use Python, SQL, and statistics to uncover ins..."
3,Udacity,C++,School of Autonomous Systems,Intermediate,4.6,https://www.udacity.com//course/c-plus-plus-na...,Get hands-on experience by building five real-...
4,Udacity,Product Manager,School of Product Management,Beginner,4.7,https://www.udacity.com//course/product-manage...,Envision and execute the development of indust...

In [220]:
edx.shape

(720, 6)

In [221]:
coursera.duplicated().sum()

98

In [222]:
coursera.drop_duplicates(inplace=True)

In [223]:
coursera.duplicated().sum()

0

In [224]:
udacity.duplicated().sum()

0

In [225]:
edx.duplicated().sum()

1

In [226]:
edx.drop_duplicates(inplace=True)

In [227]:
edx.duplicated().sum()

0

In [228]:
# Concatenate the datasets vertically
merged_data = pd.concat([coursera, edx, udacity], ignore_index=True)
merged_data.head(5000)

,Website,Name,Institution,Difficulty Level,Course Rating,Link,Course Description
0,Coursera,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...
1,Coursera,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be..."
2,Coursera,Silicon Thin Film Solar Cells,École Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...
3,Coursera,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more..."
4,Coursera,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...
...,...,...,...,...,...,...,...
4401,Udacity,Front-End Interview Prep,Career Advancement,Intermediate,None,https://www.udacity.com//course/front-end-inte...,Answer front-end technical and behavioral inte...
4402,Udacity,Full-Stack Interview Prep,Career Advancement,Intermediate,None,https://www.udacity.com//course/full-stack-int...,Answer common full stack and web security inte...
4403,Udacity,Data Structures & Algorithms in Swift,Career Advancement,Intermediate,None,https://www.udacity.com//course/data-structure...,Review and practice the skills technical inter...
4404,Udacity,iOS Interview Prep,Career Advancement,Intermediate,None,https://www.udacity.com//course/ios-interview-...,Answer iOS and mobile development interview qu...
4405,Udacity,VR Interview Prep,Career Advancement,Intermediate,None,https://www.udacity.com//course/vr-interview-p...,Learn how to tackle interview questions for te...

In [229]:
merged_data.duplicated().sum()

0

In [230]:
import nltk
from nltk.tokenize import word_tokenize


# Tokenize function
def tokenize_description(description):
    if isinstance(description, str):
        return word_tokenize(description)
    else:
        return []

# Apply tokenization and create a new column
merged_data['Description'] = merged_data['Course Description'].apply(tokenize_description)

# Reorder the columns (optional)
merged_data = merged_data[['Website', 'Name', 'Institution', 'Difficulty Level', 'Link', 'Description']]

In [231]:
merged_data.head(5)

,Website,Name,Institution,Difficulty Level,Link,Description
0,Coursera,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,https://www.coursera.org/learn/write-a-feature...,"[Write, a, Full, Length, Feature, Film, Script..."
1,Coursera,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,https://www.coursera.org/learn/canvas-analysis...,"[By, the, end, of, this, guided, project, ,, y..."
2,Coursera,Silicon Thin Film Solar Cells,École Polytechnique,Advanced,https://www.coursera.org/learn/silicon-thin-fi...,"[This, course, consists, of, a, general, prese..."
3,Coursera,Finance for Managers,IESE Business School,Intermediate,https://www.coursera.org/learn/operational-fin...,"[When, it, comes, to, numbers, ,, there, is, a..."
4,Coursera,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,https://www.coursera.org/learn/single-table-sq...,"[In, this, course, you�ll, learn, how, to, eff..."

In [232]:
# merged_data['Name'] = merged_data['Name'].apply(lambda x:x.split())
merged_data['Institution'] = merged_data['Institution'].apply(lambda x:x.split())
merged_data['Difficulty Level'] = merged_data['Difficulty Level'].apply(lambda x: str(x).split(', '))
# merged_data.sample(4)

In [233]:
# merged_data.iloc[0]['Name']

In [234]:
merged_data["combined"]= merged_data["Institution"]+ merged_data["Difficulty Level"]+merged_data["Description"]
merged_data.head()

,Website,Name,Institution,Difficulty Level,Link,Description,combined
0,Coursera,Write A Feature Length Screenplay For Film Or ...,"[Michigan, State, University]",[Beginner],https://www.coursera.org/learn/write-a-feature...,"[Write, a, Full, Length, Feature, Film, Script...","[Michigan, State, University, Beginner, Write,..."
1,Coursera,Business Strategy: Business Model Canvas Analy...,"[Coursera, Project, Network]",[Beginner],https://www.coursera.org/learn/canvas-analysis...,"[By, the, end, of, this, guided, project, ,, y...","[Coursera, Project, Network, Beginner, By, the..."
2,Coursera,Silicon Thin Film Solar Cells,"[École, Polytechnique]",[Advanced],https://www.coursera.org/learn/silicon-thin-fi...,"[This, course, consists, of, a, general, prese...","[École, Polytechnique, Advanced, This, course,..."
3,Coursera,Finance for Managers,"[IESE, Business, School]",[Intermediate],https://www.coursera.org/learn/operational-fin...,"[When, it, comes, to, numbers, ,, there, is, a...","[IESE, Business, School, Intermediate, When, i..."
4,Coursera,Retrieve Data using Single-Table SQL Queries,"[Coursera, Project, Network]",[Beginner],https://www.coursera.org/learn/single-table-sq...,"[In, this, course, you�ll, learn, how, to, eff...","[Coursera, Project, Network, Beginner, In, thi..."

In [235]:
# Converting list to str
merged_data['combined'] = merged_data['combined'].apply(lambda x: " ".join(x))

merged_data.head()

,Website,Name,Institution,Difficulty Level,Link,Description,combined
0,Coursera,Write A Feature Length Screenplay For Film Or ...,"[Michigan, State, University]",[Beginner],https://www.coursera.org/learn/write-a-feature...,"[Write, a, Full, Length, Feature, Film, Script...",Michigan State University Beginner Write a Ful...
1,Coursera,Business Strategy: Business Model Canvas Analy...,"[Coursera, Project, Network]",[Beginner],https://www.coursera.org/learn/canvas-analysis...,"[By, the, end, of, this, guided, project, ,, y...",Coursera Project Network Beginner By the end o...
2,Coursera,Silicon Thin Film Solar Cells,"[École, Polytechnique]",[Advanced],https://www.coursera.org/learn/silicon-thin-fi...,"[This, course, consists, of, a, general, prese...",École Polytechnique Advanced This course consi...
3,Coursera,Finance for Managers,"[IESE, Business, School]",[Intermediate],https://www.coursera.org/learn/operational-fin...,"[When, it, comes, to, numbers, ,, there, is, a...",IESE Business School Intermediate When it come...
4,Coursera,Retrieve Data using Single-Table SQL Queries,"[Coursera, Project, Network]",[Beginner],https://www.coursera.org/learn/single-table-sq...,"[In, this, course, you�ll, learn, how, to, eff...",Coursera Project Network Beginner In this cour...

In [236]:
# Converting to lower case
merged_data['combined'] = merged_data['combined'].apply(lambda x:x.lower())

In [237]:
merged_data.iloc[0]['combined']

"michigan state university beginner write a full length feature film script in this course , you will write a complete , feature-length screenplay for film or television , be it a serious drama or romantic comedy or anything in between . you�ll learn to break down the creative process into components , and you�ll discover a structured process that allows you to produce a polished and pitch-ready script by the end of the course . completing this project will increase your confidence in your ideas and abilities , and you�ll feel prepared to pitch your first script and get started on your next . this is a course designed to tap into your creativity and is based in `` active learning '' . most of the actual learning takes place within your own activities - that is , writing ! you will learn by doing . here is a link to a trailer for the course . to view the trailer , please copy and paste the link into your browser . https : //vimeo.com/382067900/b78b800dc0 learner review : `` love the approach professor wheeler takes towards this course . it 's to the point , easy to follow , and very informative ! would definitely recommend it to anyone who is interested in taking a screenplay writing course ! the course curriculum is simple : we will adopt a professional writers room process in which you�ll write , post your work for peer review , share feedback with your peers and revise your work with the feedback you receive from your peers . that 's how we do it in the real world . you will feel as if you were in a professional writers room yet no prior experience as a writer is required . i 'm a proponent of experiential learning ( active learning ) . my lectures are short ( sometimes just two minutes long ) and to the point , designed in a step-by-step process essential to your success as a script writer . i will guide you but i won�t `` show '' you how to write . i firmly believe that the only way to become a writer is to write , write , write . learner review : `` i would like to thank this course instructor . it 's an amazing course '' what you�ll need to get started : as mentioned above , no prior script writing experience is required . to begin with , any basic word processor will do . during week two , you can choose to download some free scriptwriting software such as celtx or trelby or you may choose to purchase final draft , the industry standard , or you can continue to use your word processor and do your own script formatting . learner review : `` now i am a writer ! '' if you have any concerns regarding the protection of your original work , coursera 's privacy policy protects the learner 's ip and you are indeed the sole owners of your work.drama comedy peering screenwriting film document review dialogue creative writing writing unix shells arts-and-humanities music-and-art"